.login-container{
  /* height: 95vh; */
  /* background-image: url('../assets/login_bg.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
}

.login{
  /* min-height: 100vh; */
  margin-top: 4rem;
  display: flex;
  align-items: center;
}

.task {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 3rem;
  background-color: #303030;
  color: white;
  font-weight: 600;
  border: 1px solid rgb(37, 36, 36);
  list-style: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-block-start: 5px;
}
.task-id{
  display: flex;
  color: white;
  align-self: center;
  float:right;
}
.task-title{
  margin: 0;
  align-self: center;
}

/* home */
.home {
  /* border: 1px solid rgb(136, 136, 136,0.3); */

  min-height: 100vh;
  background-color: #d9d9da;
  /* background-image: url('../assets/bg_4.jpg'); */
  /* background: rgb(77,86,135);
  background: linear-gradient(56deg, rgba(77,86,135,1) 0%, rgba(176,98,114,1) 100%); */
}
.row {
  border: 1px solid rgba(145, 145, 145, 0.2);
}
.categories {
  border-radius: 5px;
  background-color: #eee;
  min-height: 85vh;
}
.tasks{
  background-color: #dee1e4;
}